html, body {
    margin: 0;
    padding: 0;
}

#gameboard {
    height: 100dvh;
    width: 100dvh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-sizing: border-box;
    border: 5px solid black;
}

#gameboard button {
    background-color: white;
    border: 5px solid black;
    cursor: pointer;
    font-size: 100px;
}

#gameboard button:hover {
    background-color: #eee;
}

.banner {
    position: absolute;
    width: 200px;
    height: 100px;
    top: calc(50dvh - 50px);
    left: calc(50vw - 100px);
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.banner h2 {
    vertical-align: middle;
}