:root {
    font-family: 'Segoe UI', sans-serif;
    --board-size: min(98vw, 98dvh);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr var(--board-size) 1fr;
}

#gameboard {
    width: var(--board-size);
    height: var(--board-size);
    margin: 1dvh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-sizing: border-box;
    border: 5px solid black;
}

#gameboard button {
    background-color: lightgoldenrodyellow;
    border: 5px solid black;
    cursor: pointer;
    font-size: min(25vw, 25vh);
    font-weight: normal;
    color: black;
    padding: 0;
}

#gameboard button:hover {
    background-color: darkkhaki;
}

.banner {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px black;
}

.banner button {
    cursor: pointer;
}

.turn {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.turn p {
    margin: 0;
    font-size: 20px;
}

.turn p:last-child {
    font-size: 100px;
}

.p2 {
    visibility: hidden;
}

@media screen and (max-width: 640px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: var(--board-size) auto;
        gap: 20px;
    }

    #gameboard {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    #gameboard button {
        font-size: 22vw;
    }

    .left {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
    }

    .right {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
    }
}