:root {
    font-family: 'Segoe UI', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 98dvh 1fr;
}

#gameboard {
    height: 98dvh;
    width: 98dvh;
    margin: 1dvh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-sizing: border-box;
    border: 5px solid black;
}

#gameboard button {
    background-color: lightgoldenrodyellow;
    border: 5px solid black;
    cursor: pointer;
    font-size: 100px;
}

#gameboard button:hover {
    background-color: darkkhaki;
}

.banner {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px black;
}

.banner button {
    cursor: pointer;
}

.turn {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.turn p {
    margin: 0;
    font-size: 20px;
}

.turn p:last-child {
    font-size: 100px;
}

.p2 {
    visibility: hidden;
}